@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600, 700');
@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.font-red {
  color: #f04a23;
}

.font-white {
  color: white;
}

.font-blue {
  color: #1d2b33;
}

.font-small {
  font-size: 15px;
}

.font-med {
  font-size: 20px;
}

.font-large {
  font-size: 30px;
}
 @media print, screen and (max-width: 640px) {
    .font-large {
      font-size: 22px; } }

h1 {
  font-size: 3.7rem;
  line-height: 65px;
}
  @media print, screen and (max-width: 640px) {
    h1 {
      line-height: 50px;
      font-size: 2.1rem; } }

.padding-small {
padding-top: 20px;
  padding-bottom: 10px; }
  @media print, screen and (max-width: 640px) {
    .padding-small {
      padding-top: 20px;
      padding-bottom: 5px; } }

.padding {
padding-top: 35px;
  padding-bottom: 35px; }
  @media print, screen and (max-width: 640px) {
    .padding {
      padding-top: 40px;
      padding-bottom: 40px; } }

.padding-medium {
padding-top: 75px;
  padding-bottom: 75px; }
  @media print, screen and (max-width: 640px) {
    .padding {
      padding-top: 20px;
      padding-bottom: 20px; } }

.padding-extra {
padding-top: 100px;
  padding-bottom: 50px; }
  @media print, screen and (max-width: 640px) {
    .padding-extra {
      padding-top: 40px;
      padding-bottom: 40px; } }

.padding-left {
  padding-left: 25px;
  @media print, screen and (max-width: 640px) {
    .padding-left {
      padding-left: 0px; } }
}

@media print, screen and (max-width: 640px) {
  .padding-media {
    padding-top: 40px;
     } }

.padding-left-med {
  padding-left: 40px;
}

.padding-left-xtra {
  padding-left: 70px;
}
.padding-left-x2 {
  padding-left: 240px;
}

.padding-right {
  padding-right: 15px;
}

.padding-top {
  padding-top: 24px;
}

.padding-top-med {
  padding-top: 50px;
}

.padding-top-meds {
  padding-top: 80px;
}
.padding-top-xtra {
  padding-top: 120px;
}

.padding-top-x2 {
  padding-top: 210px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.margin-top {
  margin-top: -24px;
}

.margin-top-small {
  margin-top: -15px;
}

hr {
  max-width: 320px;
  border: 0;
  border-bottom: 6px solid;
}

.about-section {
  background-color: #1d2b33;
}

// IMAGES

.image {
  max-width: 90%;
  max-height: 195px;
}

#image-logo2 {
  margin-top: -150px;
}

.image-small {
  max-width: 90%;
  max-height: 145px;
}

.image-key {
  max-width: 375px;
  max-height: 195px;
}

.image-back {
  z-index: -1;
  position: absolute;
}

#red-block1 {
  left:0;
  right: 0;
}

.block-text {
  background-image: url(/assets/img/red_block.png);
  background-size: cover;
}

@media print, screen and (max-width: 640px) {
  .block-text {
    padding-top: 40px;
     } }

// background for testimonials

.background-image2 {
  background-image: url(/assets/img/testimonial.jpg);
  background-size: cover;
  height: 1400px;
  position: relative;
  z-index: -1;
}

@media print, screen and (min-width: 1600px) {
  .background-image2 {
    min-height: 1700px;
    position: relative;
     } }

@media print, screen and (min-width: 2100px) {
  .background-image2 {
    min-height: 1900px;
    position: relative;
     } }

.testimonials {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media print, screen and (max-width: 640px) {
  .background-image2 {
    height: auto;
     } }

// FORM

input.form {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #1d2b33;
  padding: 0;
  margin: 0;
}

textarea.form {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #1d2b33;
  height: 118px;
  resize: none;
}

// MENU

.menu {
  position: absolute;
  top: 0;
  right: 0;

}
// FOOTER

.footer {
  background-color: #1d2b33;
  padding-top: 50px;
  padding-bottom: 50px;
}

.foot-link {
  display: inline;
}
